SECRET_KEY=change-me
DEBUG=1

# Для Docker: db
# Для локального запуска без Docker: 127.0.0.1
DB_HOST=db
DB_PORT=5432
DB_NAME=dl_ai
DB_USER=dlaibd
DB_PASSWORD=dlaibd

# Локальный Docker nginx bind
AI_NGINX_BIND=0.0.0.0
AI_NGINX_PORT=8080

# Прокси (оставьте пустыми, если прокси не нужен)
HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=localhost,127.0.0.1,db,nginx,.local
PROXY=

# Прокси для контейнера в рантайме (не подхватывает прокси хоста)
RUNTIME_HTTP_PROXY=
RUNTIME_HTTPS_PROXY=
RUNTIME_NO_PROXY=localhost,127.0.0.1,db,nginx,.local

# Управление прокси для Puppeteer
# PUPPETEER_NO_PROXY=1        # игнорировать любые прокси
# PUPPETEER_PROXY_SERVER=     # пример: http://proxy.gsu.by:800
# PUPPETEER_PROXY_USERNAME=
# PUPPETEER_PROXY_PASSWORD=

# Bot pool (internal API)
BOT_POOL_URL=http://localhost:3000

#API-эндпоинт dl.gsu.by для валидации сессии 
EXTERNAL_AUTH_API_URL=https://dl.gsu.by/restapi/get-user-info

#Cookie c ID сесси на dl.gsu.by
EXTERNAL_SESSION_COOKIE_NAME=DLSID

#Пути, которые мы не проверяем в middleware
EXTERNAL_AUTH_SKIP_PATHS=/health/,/ai/assets/

# Токены (опционально)
CLIENT_ID=
SBER_SECRET=
HF_TOKEN=
SC_TOKEN=
MIST_TOKEN=
GROQ_TOKEN=
DEEPSEEK_API_TOKEN=
