SECRET_KEY=change-me-please

DB_USER=dlaibd
DB_PASSWORD=change-me-db-password
DB_NAME=dl_ai
DB_HOST=db
DB_PORT=5432

HTTP_PROXY=http://DOMAIN%5Cusername:password@proxy.gsu.by:800
HTTPS_PROXY=http://DOMAIN%5Cusername:password@proxy.gsu.by:800
NO_PROXY=localhost,127.0.0.1,db,web,nginx
PROXY=http://DOMAIN%5Cusername:password@proxy.gsu.by:800

CLIENT_ID=
SBER_SECRET=
HF_TOKEN=
SC_TOKEN=
MIST_TOKEN=
GROQ_TOKEN=
