PORT=3000
MAX_BOT_COUNT=15
RETRY_AFTER_SEC=45
REQUEST_TIMEOUT_MS=180000

SERVICE_MODEL=deepseek
HEADLESS=true
VIEWPORT_W=800
VIEWPORT_H=800

BOT_USERNAME=
BOT_PASSWORD=

BOT_PROXY=
BOT_PROXY_USER=
BOT_PROXY_PASS=