{% extends "ai/base_chat.html" %}

{% block extra_meta %}
    {% if external_session_id %}
    <meta name="external-session-id" content="{{ external_session_id }}">
    {% endif %}
{% endblock %}

{% block chat_selected %}selected{% endblock %}

{% block form_content %}
    <textarea type="text" id="messageText"
        placeholder="Задайте вопрос (желательно на английском во избежание ошибок), для красивого форматирования оберните код в ```(буква Ё на клавиатуре)"
        autocomplete="off"></textarea>
{% endblock %}
