{% extends "ai/base_chat.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="/ai/assets/admin/css/decide_task.css"/>
{% endblock %}

{% block js %}
    <script src="/ai/assets/admin/js/decide_task.js" defer></script>
{% endblock %}

{% block solve_selected %}selected{% endblock %}

{% block form_content %}
    <textarea type="text" id="messageText"
        placeholder="Задайте вопрос (желательно на английском во избежание ошибок), для красивого форматирования оберните код в ```(буква Ё на клавиатуре)"
        autocomplete="off"></textarea>
{% endblock %}

{% block top_dv %}
    <select id="selectProgLng">
    </select>
    <select id="selectTheme">
    </select>
    <div class="top-preprompt">
        <div class="preprompt">Препромпт:</div>
        <select id="selectPrompt">
        </select>
    </div>
{% endblock %}
