{% extends "ai/base_chat.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="/ai/assets/admin/css/find_error.css"/>
{% endblock %}

{% block js %}
    <script src="/ai/assets/admin/js/find_error.js" defer></script>
{% endblock %}

{% block error_selected %}selected{% endblock %}

{% block form_content %}
    <h3 class="task">Задача:</h3>
    <textarea type="text" id="taskText" class="messageText" placeholder="Вставьте сюда условие задачи"
        autocomplete="off"></textarea>
    <h3 class="codetx">Код программы:</h3>
    <textarea type="text" id="codeText" class="messageText"
        placeholder="Вставьте сюда ваш код решения задачи, для красивого форматирования оберните код в ```(буква Ё на клавиатуре)"
        autocomplete="off"></textarea>
{% endblock %}

{% block top_dv %}
    <select id="selectProgLng">
    </select>
    <select id="selectTheme">
    </select>
    <div class="top-preprompt">
        <div class="preprompt">Препромпт:</div>
        <select id="selectPrompt">
        </select>
    </div>
{% endblock %}
